<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form class="sign-in-form">
        <h2 class="title">Sign In</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username">
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password">
        </div>
        <input type="sumbit" value="Login" class="btn solid" />
        <p class="social-text">Or sign in with social platforms</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fas fa-facebook"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fas fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fas fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fas fa-linkedin-in"></i>
          </a>
        </div>
      </form>
      <form class="sign-up-form">
        <h2 class="title">Sign In</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username">
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password">
        </div>
        <input type="sumbit" value="Login" class="btn solid" />
        <p class="social-text">Or sign in with social platforms</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fas fa-facebook"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fas fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fas fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fas fa-linkedin-in"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>New Here?</h3>
        <p>If you want learn new things in everyday here we go </p>
        <button id="sign-up-btn" class="btn transparent">Sign Up</button>
      </div>
      <img src="/src/assets/register.png" class="image" alt="register">
    </div>
    <div class="panel right-panel">
      <div class="content">
        <h3>One of us?</h3>
        <p></p>
      </div>
    </div>
  </div>
</div>
